/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --main-font: 'IBM Plex mono';
  --title-color: #DB00FF;
  --main-color: #F1B2CE;
  --d-color: #FF0070;
  --subtitles-color: #000028;
  --accent-color: #FF0070;

  --padding-small: 10px;
  --padding-middle: 20px;
  --padding-large: 40px;

}
